@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'), url(../fonts/slgumqsnjdsmc35jdf1k5gr1sdw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/1ptrg8zys_skggpnwiyqwqzpbq.ttf) format('truetype');
}
